service: chat-gpt-on-slack
useDotenv: true

plugins:
  - serverless-esbuild
  - serverless-prune-plugin

provider:
  name: aws
  runtime: nodejs16.x
  stage: ${opt:stage, self:custom.defaultStage}
  region: ap-northeast-1
  memorySize: 256
  timeout: 30
  environment:
    SLACK_SIGNING_SECRET: ${env:SLACK_SIGNING_SECRET}
    SLACK_BOT_USER_OAUTH_TOKEN: ${env:SLACK_BOT_USER_OAUTH_TOKEN}
    SLACK_BOT_MEMBER_ID: ${env:SLACK_BOT_MEMBER_ID}
    OPENAI_API_KEY: ${env:OPENAI_API_KEY}

functions:
  - main:
      handler: src/handler.main
      events:
        - http:
            path: /api/v1/slack/events
            method: post

custom:
  defaultStage: dev
  prune:
    automatic: true
    number: 3
  esbuild:
    config: "./esbuild.config.js"
